.microinteraction {
    background-color: var(--video-background);
    height: 33vw;
    padding-top: calc(var(--rhythm)*1.5);
}


.browse-more {
    width: 100px;
    height: 25px;
    background-color: white;
}

.store-items {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.item-container {
    width: 306px;
    height: 390px;
    position: relative;
}

.item-container:hover .item-cover {
    opacity: 0.3;
}

.item-container:hover .item-info {
    opacity: 1;
}

.item-cover {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.item-cover img {
    display: block;
    margin: auto;
    width: 306px;
    height: 260px;
    object-fit: fill;
}

.item-cover section img {
    display: block;
    margin: auto;
    width: 306px;
    height: 130px;
}

.item-info {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.item-info p {
    margin: 0.5rem auto 0 auto;
    width: 300px;
}

.item-info a {
    text-decoration: none;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3rem auto 0 auto;
}

.tags div {
    background-color: white;
    color: black;
    font-size: .75rem;
    width: fit-content;
    padding: .5rem;
    margin: 0 auto 1rem auto;
}
.tags a:first-child {
    color: black;
    text-decoration: none;
    margin: 0;
}

.tags div:hover {
    background-color: #4c92bb;
    color: white;
    font-size: .75rem;
    width: fit-content;
    padding: .5rem;
}

.item-info div a:hover {
    color: white;
    text-decoration: none;
}


.carousel {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    margin: .5rem auto 0 auto;
}

.carousel div {
    width: 15px;
    height: 9px;
    background-color: white;
    opacity: 20%;
}

.carousel .active {
    opacity: 40%;
}

.carousel div:hover {
    opacity: 30%;
}

.arrow-right  {
    transform: rotate(180deg);
}

.arrow-left, .arrow-right {
    opacity: 50%;
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 100%;
}

.store-bar .store-items {
    grid-area: storeItems;
}

.store-bar .carousel {
    grid-area: itemCarousel;
}

.store-bar .arrow-left {
    grid-area: leftArrow;
}

.store-bar .arrow-right {
    grid-area: rightArrow;
}

.store-bar {
    display: grid;
    width: 60%;
    grid-template-areas:
    "leftArrow storeItems rightArrow"
    ". itemCarousel .";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

@media (width >= 300px) {
    .microinteraction {
        padding: 7vw 0 70vw 0;
    }
}

@media (width >= 900px) {
    .microinteraction {
        padding: 7vw 0 42vw 0;
    }
}

@media (width <= 1300px) {
    .store-bar {
        overflow-x: auto;
    }
}